.calendar {
  display: flex;
  flex-wrap: wrap;
  max-width: calc(7 * $day-size + 6 * $gap-size + $calendar-padding-total);
  gap: $gap-size;
  margin-left: $margin-left;

  &__day {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-family;
    font-size: $font-size;
    width: $day-size;
    height: $day-size;
    border: $border-width solid $border-color;
    background-color: $grey-color;
    cursor: pointer;
    transition: transform $transition-duration;
  }

  &__day:hover {
    background-color: $pink-color;
    transform: translateY($hover-move);
  }

  @for $i from 1 through 31 {
    .calendar__day:nth-child(#{$i})::before {
      content: '#{$i}';
    }
  }

  @for $i from 28 through 31 {
    &--month-length-#{$i} .calendar__day:nth-child(n + #{$i + 1}) {
      display: none;
    }
  }
}
